adapter driver ptc
transport select jtag
adapter speed 100

# openocd -c "set FIRMWARE {/path/with spaces/firmware.elf}" \
#        -f ptc-flash.cfg
# will default to xmc4300_proj.elf otherwise

if {![info exists FIRMWARE]} {
    set FIRMWARE [file normalize "xmc4300_proj.elf"]
}

reset_config none

set CHIPNAME xmc43x
jtag newtap $CHIPNAME tap -irlen 4 -expected-id 0x4BA00477
dap create $CHIPNAME.dap -chain-position $CHIPNAME.tap
target create $CHIPNAME.cpu cortex_m -dap $CHIPNAME.dap -endian little -work-area-phys 0x20000000 -work-area-size 0x10000 -work-area-backup 0

cortex_m reset_config sysresetreq

flash bank flash0 xmc4xxx 0x08000000 0x80000 0 0 $CHIPNAME.cpu
flash bank flash1 xmc4xxx 0x0C000000 0 0 0 $CHIPNAME.cpu

init
halt

flash write_image erase $FIRMWARE
verify_image $FIRMWARE

reset run
shutdown
