# ----------------------------
# PTC Interface - Connectivity Test (fixed for OpenOCD 0.12+)
# ----------------------------

adapter driver ptc
transport select jtag
adapter speed 10

# Reset options for XMC4300
reset_config srst_only srst_push_pull srst_nogate connect_deassert_srst
#reset_config none

jtag newtap xmc43x tap -irlen 4 -expected-id 0x4BA00477

dap create xmc43x.dap -chain-position xmc43x.tap
target create xmc43x.cpu cortex_m -dap xmc43x.dap -endian little

init
scan_chain
shutdown
